/* =====================================================
======== Y&R HTML&CSS test - - - lignographic 2017
========================================================
======================================================== */


/* ===== CDN GOOGLE FONTS ===== */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/* ======== COLORS ======== */

@color-blue: #0072c6;

@color-container: #f5f5f5;

@color-current-text: #333333;

@color-header_bg: white;
@color-link-nav: black;
@color-link-nav-hover: @color-blue;
@color-nav-mobile : black;
@color-nav-mobile-link: white;
@color-nav-mobile-hover: @color-blue;
@color-link-account: @color-blue;
@color-search-field-contact: grey;
@color-search-field-contact-hover: @color-blue;
@color-social-icons: @color-blue;
@color-search-icon: @color-blue;
@color-main-title: white;
@color-main-banner: PALEGREEN;

/* ----- */

@color-article: white;
@color-btn-article: #5c2d91;
@color-btn-article-text: white;
@color-picture-article-1-bg: #0b2e70;
@color-picture-article-2-bg: #5f2e8c;
@color-picture-article-3-bg: #7fba00;
@color-picture-article-4-bg: #6c2b78;
@color-picture-article-5-bg: #d2d2d2;
@color-picture-article-6-bg: #00bcea;
@color-picture-article-7-bg: white;
@color-picture-article-8-bg: #0074c0;
@color-more-article: #5c2d91;
@color-more-article-text: white;

/* ----- */

@color-oyaku-bg: white;
@color-oyaku-title: #5c2d91;
@color-oyaku-btn: #4b2475;
@color-oyaku-btn-text: white;
@color-oyaku-btn-hover: #0072c6;

/* ----- */

@color-banners-bg: #5c2d91;
@color-banner-banners-1-bg: #662479;
@color-banner-banners-2-bg: #00bcf2;
@color-banner-banners-3-bg: #bcd90c;
@color-text-banner-banners-bg: white;
@color-banner-banners-text: #5c2d91; 

/* ----- */

@color-contact-bg: white;
@color-contact-title: #5c2d91;
@color-btn-contact-social: #0072c6;
@color-icon-btn-contact-social: white;

/* ----- */

@color-footer-bg: GAINSBORO;
@color-footer-ms-products-icons: #0072c6;
@color-footer-lang-selector: #0072c6;
@color-footer-ms-copyright-bottom: #333333;
@color-link-footer: #0072c6;
@color-icon-global-footer: #333333;

@color-border-slider: white;



/* ======== GENERAL ======== */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


body, div, h1, h2, p, ul {
	margin: 0;
	padding: 0;
}

body {
	background-color: f5f5f5;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

h2 {
	font-size: 2.125em;
}

p {
	color: @color-current-text;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}



/* ======== GENERAL CLASSES ======== */

.container, header, .row, .title, .content-container, .articles, .o-yaku, .banners, .contact, footer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-pack: center;
	justify-content: center;
}

.container {
	width: 100%;
	background-color: @color-container;
}


header, .title, .articles, .o-yaku, .banners, .contact, footer {
	width: 90%;
}


.title {
	flex-direction: column;
	justify-content: center;
	aligns-item: center;
	text-align: center;
}

.icon-spacing {
	margin-right: 10px;
}

.img-fit {
	img {
		width: 100%;
	}
}



/* ======== FLUID GRID ======== */

.col-xs , .col-s, .col-m, .col-ml, .col-l {
	margin-left: 1%;
	margin-right: 1%;	
}

.col-xs {
	width: 23%;	
}

.col-s {
	width: 31.33%;
}

.col-m {
	width: 48%;
}

.col-ml {
	width: 64.67%;
}

.col-l {
	width: 98%;
}

.row {
	width: 100%;	
}



/* ======== HEADER ======== */


/* ===  mobile navigation == */

.close-nav-mobile {
	position: absolute;
	top: 30px;
	right: 40px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

#btn-nav-mobile {
	display: none;
	position: relative;
	top: 0;
	right: 0;
	width: 40px;
	height: 32px;
	cursor: pointer;
	&:hover {
		span {
			background-color: @color-nav-mobile-hover;
		}
	}
	span {
		display: block;
		position: absolute;
		height: 6px;
		width: 40px;
		left: 0;
		transition: all 0.5s ease;		
		background-color: @color-nav-mobile;

		&:nth-child(1){
			top: 0;
		}
		&:nth-child(2){
			top: 13px;
		}
		&:nth-child(3){
			top: 26px;
		}
	}
}

.nav-overlay {
	display: flex;
	height: 100%;
	width: 0%;
	position: fixed;
	z-index: 11;
	left: 0;
	top: 0;
	justify-content: center;
	align-content: center;
	background-color: rgba(0, 0, 0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
	
	nav a {
		display: block;
		font-size: 2.25em;
		color: @color-nav-mobile-link;
		transition: 0.3s;
		
		&:hover {
			color: @color-nav-mobile-hover;
		}
	}
}

.nav-overlay-content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-overlay-visible {
    width: 100% !important;
}

/* ======== */

/* ===  desktop navigation == */

.header-bg {
	background-color: @color-header_bg;
}

.title-nav {
	margin-top: 15px;
	font-size: 1.875em;
}

.block-nav, .block-account {
	padding: 20px 0;
}

.block-account {
	text-align: right;
	
	#login-account {
		cursor: pointer;
	}
	p {
		display: inline-block;
		padding: 0 0 0 0.7em;
		font-size: 0.8125em;
		color: @color-link-account;
	}

	input[type='search']{
		width: 80%;
		padding: 5px;
		padding-inline-end: 30px;
		border: 1px solid @color-search-field-contact;
		transition: hover 0.3 ease;
		&:focus {
			border: 1px solid @color-search-field-contact-hover;
		}
	}

	.search {
		position: relative;	
		margin-top: 30px;
		font-size: 1em;
		span {
			position: absolute;
			right: 8px;
			top: 0;
			padding: 5px;
			
			&.fa-search {
				color: @color-search-icon;
			}
		}
	}
}

.btn-social-header {
	margin-top: 20px;
	a {
		padding: 0 0 0 0.7em;

		.fa-facebook, .fa-envelope {
			color: @color-social-icons;
		}
	}
}

nav {
	margin-top: 20px;
	ul {
		li {
			display: inline;
			padding: 0 1.4em;
			&:nth-child(1){
				padding-left: 0;
			}
			a {				
				color: @color-link-nav;
				transition-duration: 0.3s;
				&:hover {
					color: @color-link-nav-hover;
				}
			}
		}
	}
}


.main-banner {
	height: 520px;
	background: linear-gradient(to bottom right, rgb(120, 175, 0), rgb(0, 207, 255));
}

.main-title {
	font-size: 7em;
	color: @color-main-title;
}

.sub-title {
	font-size: 1.8125em;
	color: @color-main-title;
}



/* ======== ARTICLES ======== */

.articles-bg {
	margin-top: -120px;
	z-index: 10;
}

.articles {
	margin-bottom: 75px;	
}

.article {
	position: relative;
	height: 320px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	background-color: @color-article;
}

.btn-article-link {
	width: 80px;
	heigth: 20px;
	padding: 5px 10px;
	font-size: 0.875em;
	color: @color-btn-article-text;
	background-color: @color-btn-article;
}

.text-article {
	margin-top: 16px;
	overflow: hidden;
	p {
		font-size: 1.25em;
		line-height: 1.2em;
	}
}

.fade{
	position: relative;
	height: 5.8em;
}

.fade:after {
	content: "";
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 1em;
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%);
}

.picture-article-block {
	position: absolute;
	height: 140px;
	bottom: 20px;
	left: 20px;
	right: 20px;

	&.block-1{
		background-color: @color-picture-article-1-bg;
	}
	&.block-2{
		background-color: @color-picture-article-2-bg;	
	}
	&.block-3{
		background-color: @color-picture-article-3-bg;	
	}
	&.block-4{
		background-color: @color-picture-article-4-bg;
	}
	&.block-5{
		background-color: @color-picture-article-5-bg;	
	}
	&.block-6{
		background-color: @color-picture-article-6-bg;	
	}	
	&.block-7{
		background-color: @color-picture-article-7-bg;
	}
	&.block-8{
		background-color: @color-picture-article-8-bg;	
	}
}

.picture-article {
	display: flex;
	height: 100%;
	img {
		height: 100%;
		max-width: 100%;
	}
	&.centered {
		justify-content: center;
	}
}

.btn-more-article {
	margin-top: 20px;
	padding: 25px;
	text-align: center;
	color: @color-more-article-text;
	background-color: @color-more-article;
}



/* ======== O-YAKU ======== */

.o-yaku-bg {
	background-color: @color-oyaku-bg;
}

.o-yaku {
	padding-top: 86px;
	padding-bottom: 86px;
	font-size: 1.125em;
}

.o-yaku-picture {
	display: flex;
	justify-content: center;
	align-items: center;
}

.o-yaku-title {
	margin-bottom: 48px;
	color: @color-oyaku-title;
}

.o-yaku-text {
	padding-left: 50px;
}

.btn-o-yaku {
	display: inline-block;
	margin: 20px 20px 0 0;
	padding: 12px 30px 15px 30px;
	height: 50px;
	font-size: 1em;
	color: @color-oyaku-btn-text;
	background-color: @color-oyaku-btn;
}

#btn-o-yaku-gallery {
	transition: all 0.3s ease;
	&:hover {
		cursor: pointer;
		background-color: @color-oyaku-btn-hover;
	}
}



/* ======== BANNERS ======== */

.banners-bg {
	background-color: @color-banners-bg;
}

.banners {
	padding-top: 75px;
	padding-bottom: 75px;	
}

.banner-banners {
	display: flex;
	flex-direction: column;
	height: 205px;
	font-size: 1.3125em;
	text-align: center;
	p {
		color: @color-banner-banners-text;
	}
}

.picture-banner-banners {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 137px;

    img {
        max-width: 100%;
    }

	&.banner-1-bg {
		background-color: @color-banner-banners-1-bg;
	}
	&.banner-2-bg {
		background-color: @color-banner-banners-2-bg;
	}
	&.banner-3-bg {
		background-color: @color-banner-banners-3-bg;
	}
}

.text-banner-banners {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 67px;
	padding: 10px;
	background-color: @color-text-banner-banners-bg;
}



/* ======== CONTACT ======== */

.contact-bg {
	background-color: @color-contact-bg;	
}

.contact {
	padding-top: 90px;
	padding-bottom: 75px;
	font-size: 1.125em;
}

.contact-title {
	padding-bottom: 26px;
	color: @color-contact-title;
}

.block-btn-contact-social {
	position: relative;
	
	.btn-contact-social{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;

		ul {
			li {
				display: inline;
				&:nth-child(1){
					margin-right: 15px;
				}
				&:nth-child(2){
					margin-left: 15x;
				}
				a {
					.fa-facebook, .fa-envelope {
						color: @color-icon-btn-contact-social;
					}
					i {
						width: 80px;		
						height: 80px;
						border-radius: 50%;
						text-align: center;
						padding: 20px;
						background-color: @color-btn-contact-social;
					}
				}
			}
		}
	}
}



/* ======== FOOTER ======== */

.footer-bg {
	background-color: @color-footer-bg;	
}

footer {
	padding: 43px 0 0 0;
	ul {
		margin-bottom: 30px;
	
		li a {
			font-size: 0.75em;
			color: @color-link-footer;
		}	
	}
}

.heading {
	margin-bottom: 14px;
	font-size: 1em;
}

.ms-products a {
	font-size: 1em !important;
	color: @color-current-text !important;
	
	.fa-windows {
		color: @color-footer-ms-products-icons;
	}
}

.bottom-footer {
	padding: 5px 0 30px 0;

	ul {
		display: inline-block;
		float: right;
		li {
			display: inline;
			padding: 0 20px 0 0;
		}
	}
}

.lang-selector {
	display: inline-block;
	margin-right: 90px;
	color: @color-footer-lang-selector;
}

.fa-globe {
	color: @color-icon-global-footer;	
}

.ms-copyright-bottom-footer {
	color: @color-footer-ms-copyright-bottom;
}



/* ======== POP-UP SLIDER ======== */

/* === fade-in effect === */

@keyframes fadeInEffect {
	0% {
		display: none;
		opacity: 0;
	}
	50% {
		display: block;
		opacity: 0.5;
	}
	100% {
		display: block;
		opacity: 1;
	}
}


.overlay {
	display: none;
}

.slider-visible {
	display: none;	
}

.overlay-visible {
	display: flex !important;
	flex-direction: column;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 11;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
	background-color: rgba(0, 0, 0, 0.8);
	animation: fadeInEffect 0.7s ease-out;
}

.slider-container-visible {
	display: block;
	position: relative;
	width: 70%;	
	z-index: 12;
	animation: fadeInEffect 1s ease-out;

	.slider {
		border: 4px solid @color-border-slider;

		img {
			width: 100%;
			max-width: 100%;
		}
	}

	.btns-slider {
		position: absolute;
		top: 0;
		right: -50px;

		a {
			display: block;
		}
	}
}


overlay-hidden {
	animation: fadeOutEffect 1s ease-out;
}



/* ======== RESPONSIVENESS ======== */


/* === max-width: 480px === */

@media only screen and (max-width: 480px){

	.main-banner {
		height: 300px;
		.main-title {
			font-size: 3.5em !important;
		}
	}

	.articles-bg {
		margin-top: -60px !important;
	}

	.col-xs {
		width: 60%;
	}

	.col-s, .col-m, .col-ml, col-l {
		width: 100%;
	}

	.banner-banners {
		margin: 10px 0;
		&:nth-child(1){
			margin-top: 0;
		}
		&:nth-last-child(1) {
			margin-bottom: 0;
		}
	}

	.contact {
		h2 {
			padding-bottom: 16px;
		}
		
		.block-btn-contact-social {
			margin-top: 20px;
		
			.btn-contact-social {
				position: relative;
			
				li:nth-child(1){
					margin-right: 40px;
				}
			}
		}
	}

	footer ul li a {
		font-size: 1em;
	}

}



/* === max-width: 767px === */

@media only screen and (max-width: 767px){
	
	header {
		justify-content: space-between;
	}

	#btn-nav-mobile {
		display: block;
	}
	.block-account{
		.account {
			:nth-child(1){
				margin-top: 9px;
			}
			:nth-child(2){
				display: none;
			}
		}
		.search {
			display: none;
		}
	}

	.block-nav {
		width: 100%;
		.nav-desktop {
			display: none;
		}
		.title-nav {
			display: none;
		}
	}
	.btn-social-header {
		display: none;
	}

	.logo-ms-top {
		position: absolute;
		display: block;		
		padding: 20px 0 0 0;
		margin-top: 5px;
		top: 0;
		left: calc(45%);
	}
}



/* === max-width: 768px === */

@media only screen and (max-width: 768px){
	
	.main-banner {
		height: 350px;
		.main-title {
			font-size: 5em;
		}
	}

	.articles-bg {
		margin-top: -75px;
	}

	.o-yaku-picture {
		margin-bottom: 10px;
		width: 100%;
	}
	.o-yaku-text {
		margin-top: 10px;
		width: 100%;
	}
	.contact {
		.contact-text {
			width: 100%;
		}
		h2 {
			padding-bottom: 16px;
		}

		.block-btn-contact-social {
			width: 100%;
			margin-top: 20px;

			.btn-contact-social {
				position: relative;


				li:nth-child(1){
					margin-right: 40px;
				}
			}
		}
	}
}



/* === max-width: 991px === */

@media only screen and (max-width: 991px){
	header {
		display: flex;
	}

	.block-nav {
		width: 56%;
		.title-nav {
			font-size: 1.5em;
		}
		nav li {
			padding: 0 1em;
		}
	}
	.block-account{
		width: 40%;
	}
}



/* === min-width: 1367px === */

@media only screen and (min-width: 1367px){
	header, .title, .articles, .o-yaku, .banners, .contact, footer {
		width: 70%;
	}
}



/* === min-width: 1920px === */

@media only screen and (min-width: 1920px) {
	header, .title, .articles, .o-yaku, .banners, .contact, footer {
		width: 60%;
	}
	.slider-container-visible {
    	width: 55%;
    }
}



